body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
/* Estilos para la sección de productos */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.33% - 1rem);
}
.product-card img {
    max-width: 100%;
    height: auto;
}
/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.descripcion {
    font-size: 30px; /* Tamaño del texto */
}
 .boton-registrarse {
    background-color: #007bff;
    color: #fff;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}
/* Estilos generales para el formulario */
#formulario {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
}

/* Estilos para los campos del formulario */
.campo {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para los mensajes de error */
.campo .error {
    color: red;
    font-size: 14px;
    display: none;
}

/* Estilos para el botón de envío */
#formularioRegistro button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#formularioRegistro button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de cerrar */
#formulario button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#formulario button:hover {
    background-color: #c82333;
}